@model IEnumerable<NAA.Data.BEAN.ApplicationBEAN>

@{
    ViewBag.Title = "ManageApplications";
}

<h2>ManageApplications</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniversityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherContactDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniversityOffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firm)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniversityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalStatement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherContactDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniversityOffer)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Firm)
        </td>
        @if (ViewBag.hasAcceptedApplications != true)
        {
            <td>
                @if (item.UniversityOffer == "P" || item.Firm == null)
                {
                    @:|
                    @Html.ActionLink("Edit", "EditApplication", new { ApplicationId = item.Id, ApplicantId = item.ApplicantId, controller = "Application" });
                }
                @if (item.UniversityOffer == "U" || item.UniversityOffer == "C" || item.Firm == null)
                {
                    @:|
                    Html.ActionLink("Offer", "DecideAboutApplication", new { ApplicationId = item.Id, ApplicantId = item.ApplicantId, controller = "Application" });
                }
                @if (item.UniversityOffer == "P" || item.Firm == null)
                {
                    @:|
                    @Html.ActionLink("Delete", "DeleteApplication", new { Id = item.Id, ApplicantId = item.ApplicantId, controller = "Application" });
                }
            </td>
        }
        </tr>
    }

</table>
