@model IEnumerable<NAA.Data.BEAN.CourseBEAN>

@{
    ViewBag.Title = "GetCourses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.ActionLink("Details", "GetCourse", new { id=item.Id, ApplicantId = ViewBag.ApplicantId, UniversityId = ViewBag.UniversityId, Controller="Course" })

        </td>
    </tr>
}

</table>
